{% extends 'social/layout.html' %}
{#{% load filters %}#}
{% block title %} Formularios Artículos {% endblock title %}
{% block content %}
    {% if form.errors %}
        <strong class="rojo"> Hay errores en el Formulario {{ form.errors }} </strong>
    {% endif %}

<form class='form' method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="title">Nombre mascota: </label>
    <input type="text" name="title" required>

    <select for="categories" name="categories" id="cars">
        <option value="1">Perro</option>
        <option value="2">Gato</option>
        <option value="3">Otros</option>
      </select>
    <br><br>
    <label for="content">Déscribe a tu mascota: </label>
    <input type="text" name="content" required>
   
    <label for="image">Subir foto</label>
    <input id="image" type="file" name="image" required>

    <button type='submit' id='submit'>Subir mascota</button>
</form>
{% endblock %}
