{% extends 'social/layout.html' %}
{#{% load filters %}#}

{% block title %} Formularios Artículos {% endblock title %}
{% block content %}
    {% if form.errors %}
    <strong class="rojo"> Hay errores en el Formulario {{ form.errors }} </strong>
    {% endif %}

<form class='form' method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="title">Nombre mascota: </label>
    <input type="text" name="title" required>

    <label for="categories">Tipo: </label>
    <input type="text" name="categories" required>
    
    <label for="content">Déscribe a tu mascota: </label>
    <input type="text" name="content" required>
   
    <label for="disponible">Disponible</label>
    <input type="checkbox" name="disponible" required>

    <label for="image">Subir foto</label>
    <input id="image" type="file" name="image" required>

    <button type='submit' id='submit'>Subir mascota</button>
</form>
{% endblock %}
